/* RESETS */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffd2e9;
}


.my-container {
    width: 100%;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.my-box{
    height: 50px;
    border: 1px solid #ffd2e9 ;
    background-color: #6664cf;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.blu {
    background-color: #6664cf;
}


.pink {
    background-color: #cc6bcc;
}


/* NESTED CONTAINER MYBOX */
.my-container-nested {
    width: 95%;

}

.my-row-nested {
    display: flex;
    flex-wrap: wrap;
}

.my-box-nested{
    height: 30px;
    border: 1px solid #6664cf;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body > div:nth-child(5) {
    margin-top: 30px;
}

.margin {
    margin-top: 30px;
}

body > div:nth-child(19) > div {
    justify-content: end;
}

body > div:nth-child(20) > div {
    justify-content: center;
}


body > div:nth-child(21) > div > div:nth-child(1) > div {
    height: 100px;
}
body > div:nth-child(21) > div > div:nth-child(2) {
    align-self: flex-end;
}




body > div:nth-child(22) > div > div:nth-child(1) > div {
    height: 100px;
}

body > div:nth-child(23) > div > div:nth-child(1) {
    height: 100px;
}

body > div:nth-child(22) > div > div:nth-child(2) {
    align-self: center;
}

body > div:nth-child(24) > div > div > div > div > div {
    justify-content: space-around;
}

body > div:nth-child(24) > div.my-container.margin > div > div > div > div > div {
    justify-content: space-between;
}