/* RESETS */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffd2e9;
}


.my-container {
    width: 100%;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.my-box{
    height: 50px;
    border: 1px solid #ffd2e9 ;
    background-color: #6664cf;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.blu {
    background-color: #6664cf;
}


.pink {
    background-color: #cc6bcc;
}


/* NESTED CONTAINER MYBOX */
.my-container-nested {
    width: 95%;

}

.my-row-nested {
    display: flex;
    flex-wrap: wrap;
}

.my-box-nested{
    height: 30px;
    border: 1px solid #6664cf;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body > div:nth-child(5) {
    margin-top: 30px;
}

.margin {
    margin-top: 30px;
}




